@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    box-sizing: 'Poppins', sans-serif;    
}
:root{
    --primary-color:#25142c;
    --secondary-color: #42294d;
}



/*-------------------#663d31,#421a2a, #23a5d5, #23d5ab ->gradienteTcc ----*/

body{
    animation: gradient 15s ease infinite;
    background: linear-gradient(-45deg, #23d5ab,#23a5d5, #421a2a, #663d31) no-repeat;
    background-size: 300% 300%;
    color: blanchedalmond;

}
@keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;       
    }
    100%{
        background-position: 0% 50%; 
    }
}

/*------------------------*/


body{
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header{
    padding:1rem;
    display:flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
}
.search{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding:0.5rem 1rem;    
    font-size: 1rem;
    color:#fff;
    font-family: inherit;

    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search:focus{
    outline:0;
    background-color: var(--primary-color);
}
.search::placeholder{
    color: #7378c5;
}

main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}


.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: var(--secondary-color);
    position:relative;
    overflow: hidden;

    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.movie img{
    width:100%;
}
.movie-info{
    color:#eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}
.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}
.movie-info span.green{
    color:rgb(91, 241, 91);
}

.movie-info span.orange{
    color:rgb(247, 181, 60);
}

.movie-info span.red{
    color:red;
}


.overview{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background-color: rgb(207, 202, 230);
    padding: 1rem;
    max-height: 100%;
    transform:translateY(101%);
    transition:transform 0.3s ease-in;
}
.movie:hover .overview{
    transform:translateY(0)
}